.cartcount {
    background-color: var(--color-bg-notification);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font-text-subtitle);
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -5px;
}

.cart-container {
    display: flex;
}