.footer-security-main {
   border-top: 1px solid rgb(199, 198, 198);
}

.nav-item img {
   width: 140px;
   margin-left: 90px;
}

.container-img {
    align-items: center;
}

.ebit-img img {
    width: 70px;
}
