.footer-security-main {
    border-top: 1px solid rgb(199, 198, 198);
    display: flex;
}

.footer-security-main footer ul {
    display: flex;
    margin-left: 40px;
}


.nav-item img {
    width: 140px;
    margin-left: 90px;
}

.container-img {
    align-items: center;
}

.ebit-img img {
    width: 70px;
}

@media (min-width: 540px) {
    .footer-security-main {
        border-top: 1px solid rgb(199, 198, 198);
        display: flex;
        justify-content: space-around;
    }
}