.img-product img {
    width: 70px;
    height: 100px;
}

.container-cart-erase {
    padding: 5px;
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

.container-cart-erase button {
    background: var(--theme-bg-color);
    color: var(--color-font-texto);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.568);
    height: 40px;
    padding: 10px;
}

.container-button-payment {
    background: var(--theme-bg-color);
    color: var(--color-font-texto);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.568);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
